h1 {
    color: crimson;font-size: 48px;
font-family: Georgia, serif;

}

body { 
    font-family: Arial, sans-serif;
    color:  #3b2b20;

}
footer {
    background-color: rgb(17, 6, 6);
    color: aliceblue;
    font-family: Georgia, serif;
    font-size: 14px;
    text-align: center;

    width: 100%;
    
}
.endereco {
    bottom: 45px;
    left: 0;
    width: 100%;
    background-color: #FDEBD3;
    text-align: center;

}